body {
    font-family: 'Roboto';
    padding-top: 120px;
    }
    header {
        padding: 20px;
        background: #ffcc00;
        text-align: center;
    }
    .logo {
        max-width: 200px;
        margin-left: auto;
        margin-right: auto;
    }
    
    .container-fluid {
        padding: 40px;
        padding-left: 100px;
        padding-right: 100px;
        margin-left: auto;
        margin-right: auto;
    }
    div.content {
        padding: 20px;
        text-align: left;
    }
   
    .row {
        padding: 20px;
    }
    .center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .navbar {
        background-color: #ffcc00;
        padding: 20px;

    }
 .page {
    background-color: green;
 }

 div.container {
    text-align: center;
 }

 ul.lists {
    display: inline-block;
    text-align: left;
 }

 .row-img {
    display: flex;
  }
  
  /* Create three equal columns that sits next to each other */
  .column-img {
    flex: 33.33%;
    padding: 5px;
  }
  p {
    font-size: 20px;
  }

  .dropdown-menu {
    max-height: 200px;
    overflow-y: scroll;
  }
div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    float: left;
    width: 450px;
  }
  
  div.gallery:hover {
    border: 1px solid #777;
  }
  
  div.gallery img {
    width: 100%;
    height: auto;
  }
  
