html {
    scroll-behavior: smooth;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    background-color: white !important;
    box-shadow: 0 1px 15px 0 lightblue;
}

.dropdown-menu {
    min-width:inherit;
  }

.logo {
    border-radius: 6px;
}

.hero-img {
    object-fit:cover;
}

.mood-content{
    padding: 20px;
    align-content: center;
}

.mood-head {
    text-align: center;
}

.culture {
    padding: 20px;
    align-content: center;
}

footer {
    background-color: white !important;
    box-shadow: 0 1px 15px 0 lightblue;
}

.mood {
    display: inline-block;
    padding: 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px lightblue;
    align-content: center !important;
    margin: 10px 200px !important;
}
.mood:hover {
    background-color: blue !important;
}

.mood:active {
  background-color: blue !important;
  box-shadow: 0 5px lightblue !important;
  transform: translateY(3px) !important;
}

.feedback {
    padding: 30px;
}

.feedbak-content {
    margin-top: 40px;
    align-content: center;

}
.feedback-head {
    text-align: center;
}

.feedback-btn {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px lightblue;
    align-content: center !important;
    margin: 10px 200px !important;
}
.feedback-btn:hover {
    background-color: blue !important;
}
.feedback-btn:active {
    background-color: blue !important;
    box-shadow: 0 5px lightblue !important;
    transform: translateY(3px) !important;
  }
.card {
    width: rem !important;
    margin: 5px 5px !important;
}
.card-title {
    text-align: center;
}
.card-text {
    text-align: center;
}
.card-btn {
    margin: 1px 133px;
    display: inline-block;
    padding: 10px 20px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px lightblue;
    align-content: center !important;
}
.card-btn:hover {
    background-color: blue !important;
}
.card-btn:active {
    background-color: blue !important;
    box-shadow: 0 5px lightblue !important;
    transform: translateY(3px) !important;
  }

.module {
    padding: 40px;
}
.module1-content {
    padding: 20px;
}


.module-header {
    text-align: center;
    padding: 20px;
}
.ct-section {
    padding: 10px;
}
.challenge-header {
    text-align: center;
    padding: 10px;  
}
.challenge {
    padding: 20px;
  
}
.challenge-img {
    height: auto;
    align-content: center;
}
.challenge-subheader {
    text-align: left;
    padding: 10px;
}

.content {
    list-style-type: none;
}
.link-img-link {
    margin: 10px 20px;
    float: right;
    padding: 10px;
}

.m2-day2-head {
    text-align: center;
    padding: 10px; 
}

.m2-day2-subhead {
    text-align: center;
    padding: 10px;
}
.m2-section {
    padding: 20px;
}

.wrapper {
    display: flex;
    align-items: stretch;
}


#sidebar.active {
    margin-left: -250px;
}

.sidebar {
     margin: 0;
    padding: 0;
    width: 170px;
    background-color: #fff;
    position: fixed;
    height: auto;
    overflow: auto;
    box-shadow: 0 1px 10px 0 lightblue;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  
  .sidebar a:hover {
    background-color: blue;
    color: white;
  }
   .m3s1-section {
    padding: 10px;
}

  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
   
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }



@media (min-width: 450px) and (orientation: portrait) {
      .module-pdf {
        width: 450px;
        height: 400px;
      }
      div.sticky {
        display: none;
        position: fixed;
        top: 150px;
        left: 5px;    
    }

    }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { 
    .module-pdf {
        width: 450px;
        height: 500px;
      }
    
 }
